* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    overflow-x: hidden;
    background-color: #FFCF23;
}

/* Estilos para o cabeçalho e navegação */

nav {
    min-height: 4vh;
    align-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

nav ul li {
    margin-right: 1.5vw;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.6em;
    font-weight: bold;
    text-shadow: 
        -1px -1px 2px navy,
        1px -1px 2px navy,
        -1px  1px 2px navy,
        1px  1px 2px navy;
}

@media (min-width: 768px) {
    nav {
        min-height: 7vh;
    }

    nav ul li a {
        font-size: 1.2em;
    }
}

/* Estilos para o banner */
#divBanner1 {
    background-image: url('/imagens/banners/Simpsons_Banner1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    min-height: 38vw;
    min-width: 100%;
}

#divBanner1 h1 {
    font-size: 1em;
    color: white;
    text-shadow: 
        -1px -1px 0 navy,
        1px -1px 0 navy,
        -1px  1px 0 navy,
        1px  1px 0 navy;
    font-weight: bold;
    margin-left: 2vw;
}

@media (min-width: 768px) {
    #divBanner1 h1 {
        font-size: 3em;
        text-shadow: 
            -2px -2px 1px navy,
            2px -2px 1px navy,
            -2px  2px 1px navy,
            2px  2px 1px navy;
    }
}

/* Estilo para os subtítulos */
h2 {
    font-size: 1.5em;
    color: white;
    text-shadow:
        -2px -2px 2px navy,
        2px -2px 2px navy,
        -2px  2px 2px navy,
        2px  2px 2px navy;
    font-weight: bold;
    margin-left: 2vw;
}

/* Estilos para a seção de introdução */
#sectionIntroducao p {
    margin-left: 4vw;
    margin-top: 1vh;
    margin-right: 4vw;
    padding-bottom: 4vh;
}

#divCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4vw;
    justify-content: space-around;
    padding-bottom: 4vh;
    padding-top: 4vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.divCard {
    background-color: white;
    width: 44vw;
    height: 55vh;
    border: 2px solid navy;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}

.divCard:hover {
    border-color: rgb(0, 0, 255);
    border-radius: 10px;
}

.divCardImage {
    background-image: url('https://res.cloudinary.com/dglqojivj/image/upload/v1682559693/simpsons/250px-Cletus_Spuckler_rvpr9g.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 15vw;
    height: 13vh;
    background-color: #D9D9D9;
    margin: auto;
    box-shadow: 3px 3px 7px 1px black;
}

.h3Card {
    font-size: 1.2em;
    text-align: center;
}

.pCard {
    font-size: 0.6em;
    text-align: left;
    padding: 15px 15px 15px 15px;
}

.btnCardHistoria {
    margin-top: 3vh;
    background-color: #6E52D6;
    color: white;
    font-size: 1em;
    text-align: center;
    border: none;
    padding: 0.5vh;
    border-radius: 2px 10px 2px 10px;
    box-shadow: 2px 2px 5px black;
}

.btnCardHistoria:hover {
    border: 1px solid #FFCF23;
}

@media (min-width: 768px) {
    .divCard {
        width: 25vw;
        height: 70vh;
    }

    .divCardImage {
        width: 10vw;
        height: 20vh;
    }
}

@media (min-width: 1024px) {
    .divCard {
        width: 25vw;
        height: 65vh;
    }

    .pCard {
        font-size: 0.7em;
    }
}

@media (min-width: 1300px) {
    .divCard {
        width: 25vw;
        height: 65vh;
    }

    .divCardImage {
        width: 10vw;
        height: 25vh;
    }

    .pCard {
        font-size: 0.8em;
    }
}

@media (min-width: 1525px) {
    .divCard {
        width: 20vw;
        height: 70vh;
    }

    .divCardImage {
        width: 10vw;
        height: 25vh;
    }
}

#divPaginas {
    background-color: white;
    height: 6.5vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    border: 2px solid #6E52D6;
    border-radius: 18px;
    margin-bottom: 20px;
}

#divPaginas button {
    background-color: #6E52D6;
    color: white;
    font-size: 1em;
    text-align: center;
    border: none
}

#btnPaginaAnterior {
    border-radius: 15px 0px 0px 15px;
    padding-left: 5px;
    padding-right: 5px;
}

#btnPaginaProxima {
    border-radius: 0px 15px 15px 0px;
    padding-left: 5px;
    padding-right: 5px;
}

#pNumeroPaginas {
    font-size: 1em;
    font-weight: bold;
    margin: auto;
}

@media (min-width: 1024px) {
    #divPaginas {
        width: 60vw;
    }
}

/* Estilos para as seção da história da família */
#sectionHistoriaDaFamilia p {
    margin-left: 20px;
    margin-top: 10px;
}

@media (min-width: 1024px) {
    #sectionHistoriaDaFamilia p {
        margin-left: 60px;
        margin-right: 60px;
    }
}


/* Estilos para a seção da cidade de Springfield */
#sectionCidadeSpringfield {
    margin-top: 20px;
}

#sectionCidadeSpringfield p {
    margin-left: 20px;
    margin-top: 10px;
}

#divBanner2 {
    background-image: url('/imagens/banners/SpringField.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 25vh;
    border: 2px solid black;
    box-shadow: 2px 2px 5px 0px black;
}


@media (max-height: 400px) {
    #divBanner2 {
        height: 100vh;
    }
}
@media (min-width: 410px) {
    #divBanner2 {
        min-height: 30vh;
    }
}

@media (min-width: 500px) {
    #divBanner2 {
        min-height: 40vh;
    }
}

@media (min-width: 768px) {
    #divBanner2 {
        min-height: 60vh;
    }
}

@media (min-width: 1024px) {
    #sectionCidadeSpringfield {
        display: flex;
        flex-direction: row;
        padding-bottom: 5vh;
    }
    #divCidadeSpringfield {
        min-width: 50vw;
    }
    #divCidadeSpringfield p {
        margin-left: 60px;
        margin-right: 10px;
    }
    #divBanner2 {
        min-height: 30vh;
        min-width: 35vw;
        margin-right: 10px;
        align-self: center;
    }
}

@media (min-width: 1528px) {
    #divBanner2 {
        min-height: 40vh;
    }
}

/* Estilos para a seção de curiosidades */
#sectionCuriosidades {
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid navy;
    box-shadow: 3px 3px 10px 0px black;
    padding-top: 10px;
}

#sectionCuriosidades p {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

@media (min-width: 1024px) {
    #sectionCuriosidades {
        margin-left: 60px;
        margin-right: 60px;
    }
    #sectionCuriosidades p {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

footer {
    background-color: #6E52D6;
    color: white;
    text-align: start;
    padding: 10px 10px 10px 20px;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}